
<h1>
New User
</h1>


 <form accept-charset="UTF-8" action="new" method="get">
   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
  
   <label for="username">Username:</label>
   <input id="username"  name="user[username]" type="text" required ><br>
 
   <label for="email">e-mail:</label>
   <input id="email" name="user[email]" type="text" required><br>
 
   <label for="password">Password:</label>
   <input id="password" name="user[password]" type="password" required><br>
 
   <input type="submit" value="Submit">
 
 </form>